@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');


body {
	display: flex;
	align-items:center;
	justify-content: center;
	font-family:'Quicksand', sans-serif;
	height:100 vh ;
	margin: 0 ;
	background-color: beige;
}

img{
	max-width:  600 px ;
	border-radius: 30 px ;
}

main{
	text-align : centro;
}

button{
	border:  0 ;
	font-size :  1,2 rem ;
	font-weight :  500 ;
	padding :  16px ; 
	background-color: orange;
	color: white;
	margin:  20 px  0 ;
	cursor : unset;
	transition-delay : 0,5s;
}

